USE [master]
GO
/****** Object:  Database [EscapeMath]    Script Date: 3/11/2021 7:13:14 p. m. ******/
CREATE DATABASE [EscapeMath]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EscapeMath', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EscapeMath.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EscapeMath_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EscapeMath_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EscapeMath].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EscapeMath]
GO
/****** Object:  Table [dbo].[tCategoria]    Script Date: 3/11/2021 7:13:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCategoria](
	[idCategoria] [int] NOT NULL,
	[Nombre_Categoria] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_idCategoria] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDetalleVenta]    Script Date: 3/11/2021 7:13:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDetalleVenta](
	[idDetalleVenta] [bigint] NOT NULL,
	[idventa] [bigint] NOT NULL,
	[idrangos] [int] NOT NULL,
	[catidad] [bigint] NOT NULL,
 CONSTRAINT [PK_idDetalleVenta] PRIMARY KEY CLUSTERED 
(
	[idDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tPost]    Script Date: 3/11/2021 7:13:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPost](
	[idPost] [int] NOT NULL,
	[Nombre_post] [nvarchar](50) NOT NULL,
	[Contenido_post] [nvarchar](200) NOT NULL,
	[idCategoria] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [PK_idpost] PRIMARY KEY CLUSTERED 
(
	[idPost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tRangos]    Script Date: 3/11/2021 7:13:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRangos](
	[idRangos] [int] NOT NULL,
	[Nombre_rangos] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_idRangos] PRIMARY KEY CLUSTERED 
(
	[idRangos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tTarjeta]    Script Date: 3/11/2021 7:13:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tTarjeta](
	[idTarjeta] [bigint] NOT NULL,
	[Ccv_tarjeta] [int] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[idCliente] [int] NOT NULL,
 CONSTRAINT [PK_idTarjeta] PRIMARY KEY CLUSTERED 
(
	[idTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tUsuarios]    Script Date: 3/11/2021 7:13:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUsuarios](
	[idCliente] [int] NOT NULL,
	[Nombre_cliente] [nvarchar](50) NOT NULL,
	[apellidos_cliente] [nvarchar](50) NOT NULL,
	[Telefono] [bigint] NOT NULL,
	[correo] [nvarchar](50) NOT NULL,
	[idRangos] [int] NOT NULL,
 CONSTRAINT [PK_idCliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tVenta]    Script Date: 3/11/2021 7:13:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVenta](
	[idVenta] [bigint] NOT NULL,
	[Fecha_venta] [date] NOT NULL,
	[Total] [bigint] NOT NULL,
 CONSTRAINT [PK_idVenta] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tCategoria] ([idCategoria], [Nombre_Categoria]) VALUES (501, N'asertijos')
INSERT [dbo].[tCategoria] ([idCategoria], [Nombre_Categoria]) VALUES (502, N'preguntas')
INSERT [dbo].[tCategoria] ([idCategoria], [Nombre_Categoria]) VALUES (503, N'dinamico')
INSERT [dbo].[tDetalleVenta] ([idDetalleVenta], [idventa], [idrangos], [catidad]) VALUES (701, 601, 301, 10)
INSERT [dbo].[tDetalleVenta] ([idDetalleVenta], [idventa], [idrangos], [catidad]) VALUES (702, 602, 302, 20)
INSERT [dbo].[tDetalleVenta] ([idDetalleVenta], [idventa], [idrangos], [catidad]) VALUES (703, 603, 303, 20)
INSERT [dbo].[tPost] ([idPost], [Nombre_post], [Contenido_post], [idCategoria], [idCliente], [fecha]) VALUES (401, N'El juego es increible', N'Me gusta que el juego me permite poder avanzar segun mis conocimientos, me gustan la interfaz y los personajes tan unicos ', 501, 101, CAST(N'2021-11-02' AS Date))
INSERT [dbo].[tPost] ([idPost], [Nombre_post], [Contenido_post], [idCategoria], [idCliente], [fecha]) VALUES (402, N'no me gusta', N'no me gusta puesto a la hora de comprar un pase se demora en activarce', 502, 102, CAST(N'2021-02-21' AS Date))
INSERT [dbo].[tPost] ([idPost], [Nombre_post], [Contenido_post], [idCategoria], [idCliente], [fecha]) VALUES (403, N'es pasable', N'me gusta pero a la ves no me gusta le flata mas desarrollo ', 503, 103, CAST(N'2021-05-15' AS Date))
INSERT [dbo].[tRangos] ([idRangos], [Nombre_rangos]) VALUES (301, N'oro')
INSERT [dbo].[tRangos] ([idRangos], [Nombre_rangos]) VALUES (302, N'bronce')
INSERT [dbo].[tRangos] ([idRangos], [Nombre_rangos]) VALUES (303, N'diamante')
INSERT [dbo].[tTarjeta] ([idTarjeta], [Ccv_tarjeta], [fecha_vencimiento], [idCliente]) VALUES (4927846574857253, 123, CAST(N'2021-10-02' AS Date), 101)
INSERT [dbo].[tTarjeta] ([idTarjeta], [Ccv_tarjeta], [fecha_vencimiento], [idCliente]) VALUES (4927846574857254, 456, CAST(N'2021-12-02' AS Date), 102)
INSERT [dbo].[tTarjeta] ([idTarjeta], [Ccv_tarjeta], [fecha_vencimiento], [idCliente]) VALUES (4927846574857255, 789, CAST(N'2021-01-02' AS Date), 103)
INSERT [dbo].[tUsuarios] ([idCliente], [Nombre_cliente], [apellidos_cliente], [Telefono], [correo], [idRangos]) VALUES (101, N'jose', N'fernandez', 3134727962, N'jose@gmail.com', 301)
INSERT [dbo].[tUsuarios] ([idCliente], [Nombre_cliente], [apellidos_cliente], [Telefono], [correo], [idRangos]) VALUES (102, N'maria', N'rosa', 31365627962, N'maria@gmail.com', 302)
INSERT [dbo].[tUsuarios] ([idCliente], [Nombre_cliente], [apellidos_cliente], [Telefono], [correo], [idRangos]) VALUES (103, N'duvan', N'filipo', 313631327962, N'duvan@gmail.com', 303)
INSERT [dbo].[tVenta] ([idVenta], [Fecha_venta], [Total]) VALUES (601, CAST(N'2020-09-21' AS Date), 150000)
INSERT [dbo].[tVenta] ([idVenta], [Fecha_venta], [Total]) VALUES (602, CAST(N'2018-02-21' AS Date), 200000)
INSERT [dbo].[tVenta] ([idVenta], [Fecha_venta], [Total]) VALUES (603, CAST(N'2019-08-21' AS Date), 250000)
ALTER TABLE [dbo].[tDetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta] FOREIGN KEY([idventa])
REFERENCES [dbo].[tVenta] ([idVenta])
GO
ALTER TABLE [dbo].[tDetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta]
GO
ALTER TABLE [dbo].[tDetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta2] FOREIGN KEY([idrangos])
REFERENCES [dbo].[tRangos] ([idRangos])
GO
ALTER TABLE [dbo].[tDetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta2]
GO
ALTER TABLE [dbo].[tPost]  WITH CHECK ADD  CONSTRAINT [FK_tPost] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[tCategoria] ([idCategoria])
GO
ALTER TABLE [dbo].[tPost] CHECK CONSTRAINT [FK_tPost]
GO
ALTER TABLE [dbo].[tPost]  WITH CHECK ADD  CONSTRAINT [FK_tPost2] FOREIGN KEY([idCliente])
REFERENCES [dbo].[tUsuarios] ([idCliente])
GO
ALTER TABLE [dbo].[tPost] CHECK CONSTRAINT [FK_tPost2]
GO
ALTER TABLE [dbo].[tTarjeta]  WITH CHECK ADD  CONSTRAINT [FK_tTarjeta] FOREIGN KEY([idCliente])
REFERENCES [dbo].[tUsuarios] ([idCliente])
GO
ALTER TABLE [dbo].[tTarjeta] CHECK CONSTRAINT [FK_tTarjeta]
GO
ALTER TABLE [dbo].[tUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tUsuarios] FOREIGN KEY([idRangos])
REFERENCES [dbo].[tRangos] ([idRangos])
GO
ALTER TABLE [dbo].[tUsuarios] CHECK CONSTRAINT [FK_tUsuarios]
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_POST]    Script Date: 3/11/2021 7:13:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LISTAR_POST]

AS
BEGIN

	SET NOCOUNT ON;
	SELECT idPost, Nombre_post, Contenido_post, fecha from tPost order by fecha desc
END
GO
USE [master]
GO
