@{
    ViewBag.Title = "Escape Math";
}

<div class="jumbotron">
    <h1>ESCAPE MATH</h1>
    <p class="lead">Este será un foro donde se publicara semanalmente los mejores jugadores de acuerdo a su puntaje, también, el usuario podrá publicar post de acuerdo a diferentes tematicas</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rangos</h2>
        <p>
            Encontrarás los rangos disponibles para la compra, esto te dará una mejor experiencia en el foro como en el juego ¿Qué esperas? ¡Anímate!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mejores jugadores</h2>
        <p>¡Aquí podrás ver tu nombre si eres de los participantes más astutos! ¿Lograrás llegar al top #1? </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Foro</h2>
        <p>En esta sección podrás dejar reporte de Bugs, Glitch e incluso reporte de uso de hacks ¡Ayúdanos a tener un juego sano y transparente!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>